/* Загальні стилі */
.upload-container {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 1000px;
  margin: auto;
  margin-top: 150px;
}

h2 {
  margin-bottom: 12px;
}

.file-input {
  display: none; /* Ховаємо стандартний input */
}

.drop-area {
  border: 2px dashed #007bff;
  border-radius: 10px;
  padding: 30px;
  cursor: pointer;
  color: #555;
  transition: background-color 0.3s, border-color 0.3s;
}

.drop-area.hover {
  background-color: #007bff;
  color: #fff;
  border-color: #0056b3;
}

.drop-area p {
  margin: 0;
}

.file-list {
  text-align: left;
  margin-top: 15px;
}

.file-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-list li {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.upload-button {
  background-color: #4b0082;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 16px;
}

.upload-button:hover {
  background-color: #4b0082;
}

/* Стиль для деактивованої кнопки */
.upload-button:disabled {
  background-color: #d3d3d3; /* Світло-сірий колір для деактивованої кнопки */
  color: #a1a1a1; /* Тьмяний колір тексту */
  cursor: not-allowed;
}

.file-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.remove-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #c0392b;
}
